<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>마이페이지-비밀번호 변경</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

  <div class="site-wrap">
    <!--네비-->
    <% if(member) {%>
      <%- include('./partial/navbar(login).ejs') %>
    <% } else { %>
      <%- include('./partial/navbar(logout).ejs') %>
    <% }%>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0" style="margin: 0 auto;">
            <h2 class="h3 mb-3 text-black">임시 비밀번호 발급</h2>
            <div class="p-3 p-lg-5 border">
                <table style="margin:0 auto;">
                    <h3>임시 비밀번호가 발급되었습니다 이메일을 확인해 주세요.</h3>
                </table>
                <div class="col-md-6" style="margin:0 auto">
                  <p></p>
                    <button class="btn btn-primary btn-sm btn-block" onclick = "location.href = '/login'">로그인 하기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
         <!--푸터-->
           <%- include('./partial/footer.ejs') %>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

  </body>
</html>
