<header class="site-navbar" role="banner">
  <div class="site-navbar-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
        </div>

        <!--로고-->
        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
          <div class="site-logo">
            <a href="/HOME" class="js-logo-clone">DEAL MOA</a>
          </div>
        </div>
        <!--네비 정보-->
        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
          <div class="site-top-icons">
            <ul>
              <li><a href="/logout"><span>logout</span></a></li>
              <li><a href="/nlike?p=1"><span class="icon icon-heart-o"></span></a></li>
              <li>
              </li>
              <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--메뉴-->
  <nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li class="has-children">
          <a href="#">오픈마켓</a>
          <ul class="dropdown">
            <li><a href="https://www.gmarket.co.kr/">G마켓</a></li>
            <li><a href="http://www.auction.co.kr/">옥션</a></li>
            <li><a href="https://www.11st.co.kr/">11번가</a></li>
            <li><a href="https://www.interpark.com/">인터파크</a></li>
            <li><a href="https://www.gsshop.com/">GS SHOP</a></li>
            <li><a href="http://display.cjmall.com/">CJmall</a></li>
            <li><a href="http://shinsegaemall.ssg.com/">신세계몰</a></li>
            <li><a href="https://www.hyundaihmall.com/">Hmall</a></li>
          </ul>
        </li>
        <li class="has-children">
          <a href="#">소셜커머스</a>
          <ul class="dropdown">
            <li><a href="https://www.coupang.com/">쿠팡</a></li>
            <li><a href="https://www.tmon.co.kr/">티몬</a></li>
            <li><a href="https://front.wemakeprice.com/">위메프</a></li>
          </ul>
          <li class="has-children">
            <a href="#">가격비교사이트</a>
            <ul class="dropdown">
              <li><a href="https://shopping.naver.com/">네이버쇼핑</a></li>
              <li><a href="http://www.danawa.com/">다나와</a></li>
              <li><a href="http://www.enuri.com/">에누리</a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="#">딜모아</a>
            <ul class="dropdown">
              <li><a href="/posts?p=1">자유게시판</a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="/mypage">마이페이지</a>
            <ul class="dropdown">
              <li><a href="/mypage">정보수정</a></li>
              <li><a href="/mylike?p=1">나의 찜목록</a></li>
              <li><a href="/mypost?p=1">내가 작성한 글</a></li>
            </ul>
          </li>

      </ul>
    </div>
  </nav>
</header>
